@charset "ISO-8859-1";

 /*
  #FBB92F


 */

 body {
  font-family: Arial;
  font-size: 14px;
  color: black;
}


#map {
  position: absolute;
  left: 14px;
  padding:27px;
  height: 500px;
  width:500px;
  background-color: #FBB92F;
  z-index: 0;
}

input[type=checkbox] {
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #00883C;
  outline: none;
  vertical-align: middle;
}

input[type=checkbox]:checked {
  background-color:#8BC53F;
}

#main{

  border: 5px solid #353535;
  height:616px ;
  width:877px;
 }

#primary_uses_div{
  position: absolute;
  left: 565px;
  padding: 20px;
  height: 577px;
  width: fit-content;
  background-color: #FBB92F;
    z-index: 1;
}

#container_primary_use{

  height: 501px;
  padding-bottom: 10px;
  overflow: auto;
}

.primary_use_line_div{
padding: 0px;
}

.primary_use_checkbox_div{
  display: table-cell;
}
.primary_use_label_div{
   width: 220px;
   display: table-cell;
}

.primary_use_div_cnt
{
  padding-left: 5px;
  padding-right:5px;
  width: 25px;
  display: table-cell;
}

/*
Energy Star div
*/
#energy_star_rating_div{
  position: absolute;
  padding-top: 10px;
  padding-left: 20px;
  width: 547px;
  height:53px;
  top:840px;
  background-color: #FBB92F;
  z-index: 2;
}

.inputs {
   padding-bottom: 0em;
}

.input_title{
  font-weight: bold;
  height:10px;
  padding-bottom: 11px;
  padding-right: 5px;
}


/*Scroll bar specific*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00883C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8BC53F;
}


/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid #404041;
  border-radius: 16px;
  line-height: 24px;
  color: #555;
}

.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

#bewes_info_wrapper{
    width: 960px;
    height: 200;
    overflow: hidden;
    color: #5e5e5e;
}

#bewes_info {
    font: 15px Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    box-sizing: border-box;
    float: left;
    width: 700px;
    height: 60;
    border-right-style: solid;
    padding-bottom: 20px;
}

#bewes_info_update {
    display: inline-block;
    width: 240px;
    padding-left: 10px;
}

#wrapper {
    width: 960px;
    height:150px;
    overflow: hidden;
    display: none;
}

#compare_div0 {
    font-family: Texta, Helvetica, sans-serif;
    border: 3px solid #404041;
    border-radius: 16px;
    color: #555;
    width: 400px;
    height:100px;
    float: left;
    box-shadow: 0px 10px 6px -6px #6BA8DB;
    margin:15px
}

#compare_div1 {
    font-family: Texta, Helvetica, sans-serif;
    border: 3px solid #404041;
    border-radius: 16px;
    color: #555;
    width: 400px;
    height:100px;
    overflow: hidden;
    box-shadow: 0px 10px 6px -6px #6BA8DB;
    margin:15px
}
